<div id="about-container">
    <h2>What?</h2>
    <p>Curricula is a simple web app that allows undergraduates to search for a syllabus to a course. The database is populated with syllabi posted here on the Post page by former students who, fortunately, posted a syllabus to a course they took. The database
        is as resourceful as the student body contributes! </p><br>
    <h2>Why?</h2>
    <p>
        Curricula was designed for students who would like to prepare for their upcoming course in the break, having the syllabus available will be of great help. Also, students who are to transfer to another institution, having the syllabus available will ease
        the hustle of transferring credits
    </p><br>
    <h2>Extensions?</h2>
    <p>Currently, Curricula is catered towards students from SUNY Albany. The web app can be extended to more institutions and include better functionality if requested.</p><br>
    <p>To request, send an email to:</p>
    <h4>khoukhiadam9@gmail.com</h4>
</div>