<div id="res-container">
    <h1>
        <%= heading %>
    </h1>
    <h2>
        <%= sub_heading %>
    </h2>
    <p>
        <%= info %>
    </p>
    <p><a href="/home">Return to Home</a></p>
</div>