<div class="body-container">
    <h1><img src="/img/Curricula_logo.png" width="100" id="img">urricula</h1>
    <h3>Providing undergrads with syllabi to their courses</h3>
    <a href='/find'>
        <div id="box">
            <h2>Find</h2>
            <p>Search for the syllabus of a course you are interested in!</p>
        </div>
    </a>
    <a href='/post'>
        <div id="box">
            <h2>Post</h2>
            <p>Contribute to Curricula's database by posting the syllabus to a course you took! </p>
        </div>
    </a>
</div>